Repository P0k3rf4ce/SauceEngine, pull requests merged in 2025-09, with the labels that each got.

#28 Bug: Fix missing return in animation file
  src/animation/AnimationProperties.cpp
Labels: bug

#32 Feat: Render quad onto scene
  include/rendering/Quad.hpp
  src/rendering/Quad.cpp
Labels: enhancement, rendering

#35 Feat: Implement bloom
  .gitignore
  CMakeLists.txt
  include/rendering/Bloom.hpp
  include/utils/Logger.hpp
  include/utils/Shader.hpp
  src/rendering/Bloom.cpp
  src/rendering/CMakeLists.txt
  src/rendering/shaders/bloom/bloom.vs
  src/rendering/shaders/bloom/bloom_blend.fs
  src/rendering/shaders/bloom/blur.fs
  src/shared/CMakeLists.txt
  src/utils/CMakeLists.txt
  src/utils/Logger.cpp
  src/utils/Shader.cpp
  test/utils/Logger_test.cpp
  test/utils/Shader_test.cpp
Labels: enhancement, rendering

#36 add: method to set matrix4f uniform
  include/shared/Shader.hpp
  src/shared/Shader.cpp
Labels: enhancement

#27 Basic draft for material class
  include/modeling/material.hpp
  src/modeling/material.cpp
  vcpkg.json
Labels: enhancement, question, modelling

#20 [#13] Initial skeleton for genIrradianceMap
  include/rendering/RenderProperties.hpp
  include/rendering/irradianceMap.hpp
  src/rendering/RenderProperties.cpp
  src/rendering/irradianceMap.cpp
  src/rendering/shaders/irradiancemap.frag
  src/rendering/shaders/irradiancemap.vert
Labels: enhancement, help wanted, rendering

#40 Implement genBRDFLUT
  include/rendering/BRDF.hpp
  src/rendering/BRDF.cpp
  src/rendering/shaders/pbr/brdf.frag
Labels: enhancement, rendering

#37 Gen prefilter map method implementation Resolves #11
  include/rendering/pbrPreProcessing.hpp
  src/rendering/pbrPreProcessing.cpp
  src/rendering/shaders/pbr/background.fs
  src/rendering/shaders/pbr/background.vs
  src/rendering/shaders/pbr/brdf.fs
  src/rendering/shaders/pbr/brdf.vs
  src/rendering/shaders/pbr/cubemap.vs
  src/rendering/shaders/pbr/equirect_to_cube.fs
  src/rendering/shaders/pbr/irradiance.fs
  src/rendering/shaders/pbr/pbr.fs
  src/rendering/shaders/pbr/pbr.vs
  src/rendering/shaders/pbr/prefilter.fs
Labels: enhancement, rendering
